.place__title {
    font-family: 'Inter', sans-serif;
    color: #FFFFFF;
    font-weight: 900;
    font-size: 72px;
    line-height: 76px;
    margin: 0 0 0 0;
    grid-area: title;
    opacity: 1;
    text-shadow:6px 5px rgba(0, 0, 0, .2);
}

@media screen and (max-width:1024px) {
    .place__title {
        max-width: 440px;
    }
}

@media screen and (max-width:768px) {
    .place__title {
        font-size: 42px;
        line-height: 46px;
        max-width: 329px;
    }
}

@media screen and (max-width:426px) {
    .place__title {
        font-size: 32px;
        line-height: 35px;
        max-width: max-content;
        margin: 0 auto 0 16px;
    }
}