.popup__close {
    position: absolute;
    border: none;
    background-color: rgba(0, 0, 0, 0);
    background-image: url(../../../images/CloseIcon.png);
    top: -40px;
    right: -40px;
    padding: 0;
    cursor: pointer;
    width: 32px;
    height: 32px;
    background-size: 32px;
    transition: all .3s;
}

.popup__close:hover{
    opacity: 0.8;
    transform: scale(1.15);
}

.popup__close:active{
    opacity: 1;
    transform: scale(0.85);
}

@media screen and (max-width:655px) {
    .popup__close {
        width: 20px;
        height: 20px;
        background-size: 20px;
        top: -36px;
        right: 0;
    }
}